*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.ai
*.apk
*.ap_
*.dex
*.class
*.log

signing.properties
fastlane/report\.xml
/.idea/caches
node_modules/
ios/Pods/

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

android/local.properties
android/build/
android/app/build/
android/app/fabric.properties
android/.idea/workspace.xml
android/.idea/libraries
android/.idea/caches