{
  "overrides": [
    {
      "files": ["{**/*,*}.{js}"],
      "options": {
        "singleQuote": true,
        "trailingComma": "none",
        "semi": false,
        "arrowParens": "avoid",
        "printWidth": 120
      }
    }
  ]
}
